<a href="https://colab.research.google.com/github/M2kishore/Machine-Learning/blob/main/CB_EN_U4CSE19127_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [27]:
height = [65.78,
71.52,
69.40,
68.22,
67.79,
68.70,
69.80,
70.01,
67.90,
66.78,
66.49,
67.62,
68.30,
67.12,
68.28]

In [5]:
weight = [112.99,
136.49,
153.03,
142.34,
144.30,
123.30,
141.49,
136.46,
112.37,
120.67,
127.45,
114.14,
125.61,
122.46,
116.09]

68.22
67.79
68.70
69.80
70 01
67.90
66.78
66.49
67.62
68.30
67.12
68.28

In [15]:
df = pd.DataFrame(height, columns = ['height'])

In [16]:
df["weight"] = weight

In [17]:
df

    height  weight
0    65.78  112.99
1    71.52  136.49
2    69.40  153.03
3    68.22  142.34
4    67.79  144.30
5    68.70  123.30
6    69.80  141.49
7    70.01  136.46
8    67.90  112.37
9    66.78  120.67
10   66.49  127.45
11   67.62  114.14
12   68.30  125.61
13   67.12  122.46
14   68.28  116.09

In [23]:
to_predict = 70.76

In [30]:
diff = []
for i in height:
  print(i)
  diff.append(abs(i-to_predict))

65.78
71.52
69.4
68.22
67.79
68.7
69.8
70.01
67.9
66.78
66.49
67.62
68.3
67.12
68.28

In [35]:
df["diff"] = diff
df = df.sort_values(by='diff')

In [36]:
df

    height  weight  diff
7    70.01  136.46  0.75
1    71.52  136.49  0.76
6    69.80  141.49  0.96
2    69.40  153.03  1.36
5    68.70  123.30  2.06
12   68.30  125.61  2.46
14   68.28  116.09  2.48
3    68.22  142.34  2.54
8    67.90  112.37  2.86
4    67.79  144.30  2.97
11   67.62  114.14  3.14
13   67.12  122.46  3.64
9    66.78  120.67  3.98
10   66.49  127.45  4.27
0    65.78  112.99  4.98

In [39]:
k = 3
extract = df[0:k]

In [43]:
extract["weight"].sum()/k

138.14666666666668